[submodule "plugged/delimitMate"]
	path = plugged/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "plugged/vim-sensible"]
	path = plugged/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "plugged/vim-sneak"]
	path = plugged/vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "plugged/vim-fish"]
	path = plugged/vim-fish
	url = https://github.com/dag/vim-fish.git
[submodule "plugged/vim-gitgutter"]
	path = plugged/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "plugged/vim-fugitive"]
	path = plugged/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "plugged/vim-git"]
	path = plugged/vim-git
	url = https://github.com/tpope/vim-git
[submodule "plugged/gv.vim"]
	path = plugged/gv.vim
	url = https://github.com/junegunn/gv.vim
[submodule "plugged/vim-airline"]
	path = plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "plugged/tagbar"]
	path = plugged/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "plugged/vim-commentary"]
	path = plugged/vim-commentary
	url = https://github.com/tpope/vim-commentary
