[submodule "plugged/delimitMate"]
	path = plugged/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "plugged/vim-sensible"]
	path = plugged/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "plugged/YouCompleteMe"]
	path = plugged/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "plugged/vim-sneak"]
	path = plugged/vim-sneak
	url = git@github.com:justinmk/vim-sneak.git
[submodule "plugged/vim-fish"]
	path = plugged/vim-fish
	url = git@github.com:dag/vim-fish.git
